#track-info-container{
    display: flex;
    color: white;
    // Remove the below;;;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    &>#track-info-header{
        flex: 3;
        display: flex;
        flex-direction: column;

        &>#trackinfo-title{
            text-align: left;
            color: white;
            padding-top:  0 0 0 0 ;
            margin: 0;
            margin-left: 1.5em;
            margin-top: .5em;
            width: 25em;
            height: 2em;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &>#trackinfo-link-artist{
            margin: 0;
            text-align: left;
            margin-left: 1.6em;
            margin-top: .5em;
        }
    }
}