.card-image{
object-fit: cover;
object-position: right;
vertical-align:middle;
width: 100%; 

&:hover{
    cursor: pointer;
}
}

#card-header-span{
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    
    &:hover{
        color:666;
        cursor:pointer;
    }
    
}

#loading-bar-gen-grid{
    margin-left: 50%;
    margin-top: 5%;
}