#player-container {
  display: flex;
  margin: 2% 0;
  border-top: 2px solid white;
  padding-top: 1%;
}
#player-controls {
  flex: 2.4;
  padding: 15px;
}
.player-song-details-container {
  flex: 3;
}
.player-repeat-song {
  flex: 1;
}
.player-repeat-song > #player-btn-repeat {
  display: contents;
}
.player-repeat-song > #player-btn-repeat > #player-btn-icon-repeat {
  margin-top: 1em;
}
.player-repeat-song > #player-btn-add {
  display: contents;
}
.player-repeat-song > #player-btn-add > #player-btn-icon-repeat {
  margin-top: 1em;
  padding: 0;
}
#player-controls > #player-btn-left,
#player-btn-right {
  display: contents;
}
#player-btn-icon-left {
  float: left;
  margin-top: 13px;
}
#player-btn-icon-right {
  float: right;
  margin-top: 13px;
}
#music-player-audio {
  margin: 0 auto;
}
#music-player-audio:focus {
  outline: none;
}
