.track-list-item {
  border-radius: 5px;
  animation-name: dock-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top center;
  vertical-align: middle;
  & #list-content {
    margin: 1.8% 0 1.5% 1.5%;
    // margin: 8px 0px 5px 5px;
  }

  & #avatar-img {
    margin-top: 2.2%;
  }

  // box-shadow: 3px 2px 10px grey;
}

#link-track-name {
  & > span {
    display: block;
    white-space: nowrap;
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
}

.link-artist {
  font-size: 13px;
  margin-right: 3px;
  white-space: nowrap;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: black;
  &:hover {
    text-decoration: underline;
  }
  &:last-child:after {
    content: "";
  }
}

#group-options {
  width: 20%;
  float: right;
  margin-top: 1%;
  margin-right: 4%;
  padding: 0.4em 0;
}

#group-options > button {
  display: contents;
}

#btn-icon {
  margin-left: 5%;
  &:hover {
    // width: 25px;
    border-left: 2px solid red;
    // height: 20px;
  }
}

@keyframes dock-in {
  0% {
    opacity: .3;
    transform: rotateX(-90deg);
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
