.track-list-item {
  border-radius: 5px;
  animation-name: dock-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top center;
}
.track-list-item #list-content {
  margin: 8px 0px 5px 5px;
}
.track-list-item #avatar-img {
  margin: 8px;
}
#link-track-name span {
  white-space: nowrap;
  max-width: 15em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.link-artist {
  font-size: 13px;
  margin-right: 3px;
  color: black;
}
.link-artist:hover {
  text-decoration: underline;
}
.link-artist:last-child:after {
  content: "";
}
#group-options {
  float: right;
  margin-right: 3em;
  padding: 0.4em 0;
}
#group-options > button {
  display: contents;
}
#btn-icon {
  margin: 0 12px;
}
#btn-icon:hover {
  height: 30px;
}
@keyframes dock-in {
  0% {
    opacity: 30%;
    transform: rotateX(-90deg);
  }
  50% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
    transform: rotateX(0deg);
  }
}
